# Data
IRCCyN_IVC_DIBR_Videos/
Subjective_Data/
tmp_saves/
BYOE_sachot_point/

# Archive
Subjective_Data.zip

# Config files
config.py

# Local settings
.python-version

# Cache
__pycache__/

# Environments
venv/
psychopy_env/